.home-page {
  background-color: #fdedec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
  display: flex;
  width: 90%;
  margin: 10px auto;
  padding: 10px 10px;
  flex: 1;
}
